html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: white;
  font-size: 16px;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'SF pro', sans-serif;
}

nav {
  padding: 5px;
}

img {
  height: 200px;
  width: 250px;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: black;
}

.delete-post:hover {
  cursor: pointer;
}

.slideshow {
  margin: 50px auto;
  position: relative;
  width: 1000px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slideshow img {
  width: 1000px;
  height: 500px;
}

.slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.logout {
  float: right;
}
