<nav class="z-depth-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">GeneFlix</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/content/create">Add A Film</a></li>
      <li><a href="/member/profile">Profile</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </div>
</nav>