<%- include ../partials/header.ejs %>

  <form action="/create" method="post" class="container">
    <div>
      <label>Name:</label>
      <input type="text" name="Content Name" /><br>
    </div>
    <div>
      <label>Description:</label>
      <input type="text" name="description" /><br>
    </div>
    <div>
      <label>Release Year:</label>
      <input type="date" name="release_year" /><br>
    </div>
    <div>
      <label>Total Running Time(TRT):</label>
      <input type="text" name="trt" /><br>
    </div>
    <div>
      <label>Director:</label>
      <input type="text" name="director" /><br>
    </div>
    <div>
      <label>Genre:</label>
      <select>
        <option>Action</option>
        <option>Drama</option>
        <option>Comedy</option>
        <option>SciFi</option>
        <option>Horror</option>
        <option>Anime</option>
        <option>Family</option>  
        <option>Documentary</option>  
      </select>
    </div>
    <div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </div>
  </form>

  <%- include ../partials/footer.ejs %>