<%- include ../partials/header.ejs %>

  <div class="slideshow">
    <div>
      <img class="responsive-img" src="http://static.tumblr.com/8bfc962a5ca8f773d634b9aec670e029/yxql1hy/tjtov7rlt/tumblr_static_26osk19e9qck84sgcwogsw88w.jpg">
    </div>
    <div>
      <img class="responsive-img" src="http://download.gamezone.com/uploads/image/data/1221287/thelastjedi-3.jpg">
    </div>
    <div>
      <img class="responsive-img" src="https://blog.apaonline.org/wp-content/uploads/2017/07/wdwmn_online_master_deflection_4000x2490_master-rev-1.jpg">
    </div>
  </div>

<%- include ../partials/footer.ejs %>