<%- include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <% for (let i = 0; i < members.length; i++) { %>
          <div>
            <div id="member-info" class="col s6">
              <%= members[i].username %>
              <p><%= members[i].role %><p/>
                <div class="list-roles">
                  <a class='dropdown-button btn' data-id="<%= members[i].id %>"data-role="<%= members[i].role='admin' %>"><%= members[i].role %></a><br/>
                  <a class='dropdown-button btn' data-id="<%= members[i].id %>"data-role="<%= members[i].role='standard' %>"><%= members[i].role %></a><br/>
                  <a class='dropdown-button btn' data-id="<%= members[i].id %>"data-role="<%= members[i].role='guest' %>"><%= members[i].role %></a><br/>  
                </div>
              <%= members[i].status %>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>

  <%- include ../partials/footer.ejs %>