<%- include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <% if (member) { %>
          <div>
            <div id="member-info" class="col s6">
              Name <br/><strong><%= member %></strong><br/>
              <%= date %><br/>
              Status <%= status %><br/>
              <%= role %><br/>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>

  <%- include ../partials/footer.ejs %>