<%- include ../partials/header.ejs %>

  <form action="/login" method="post" class="container">
    <div>
      <label>Username:</label>
      <input type="text" name="username" /><br>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" /><br>
    </div>
    <div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </div>
  </form>

  <%- include ../partials/footer.ejs %>